*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.navbar{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#logo{
    display: flex;
    max-height: auto;
    max-width: 35px;
    padding-left: 10px;
}

#logoPic{
    display: flex;
    height: 100%;
    width: 100%;
}

.main{
    display: flex;
    align-items: center;
    flex-direction: column;
}

#start_div{
  position: relative;
}

#start{
    background: none;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 10px 10px 10px;
    padding: 5px 10px 5px 10px;
    border: 1px solid black;
    font-size: 14px;
}

#search_bar{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 15px;
    width: 80%;
}

#keywords_div{
  padding: 10px 0px 10px 0px;
}

#location_div{
  padding: 10px 0px 10px 0px;
}

#get_restaurants_div{
  padding: 10px 0px 10px 0px;
}

#keywords{
  border: 1px solid black;
}

#location{
  border: 1px solid black;
}

#get_restaurants{
  border: 1px solid black;
  padding: 10px 10px 10px 10px;
  margin: 0px 0px 20px 0px;
  font-size: 12px;
}

.hidden{
    opacity: 0;
    z-index: -1;
}

.shown{
    opacity: 100;
    z-index: 1;
}

#link{
  font-size: 10px;
}

#business_list{
    padding: 10px;
    display: flex;
    flex-direction: row;
    font-size: 13px;
    text-align: center;
}

#business1_div, #business2_div, #business3_div, 
#business4_div, #business5_div, #business6_div{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100px;
    border: 2px solid black;
}

#business1_pic, #business2_pic, #business3_pic,
#business4_pic, #business5_pic, #business6_pic{
    width: 100%;
    height: 40%;
}

#business1, #business2, #business3,
#business4, #business5, #business6{
    width: 100%;
    word-wrap: break-word;
}

/*tablet*/
@media (min-width: 600px) and (max-width: 768px){
  .navbar{
      font-size: 20px;
  }
  #logo{
      max-width: 48px;
  }
  #start{
    font-size: 20px;
  }
  #search_bar{
    font-size: 19px;
  }
  input{
    font-size: 17px;
  }
  #get_restaurants{
    font-size: 17px;
  }
  #link{
    font-size: 17px;
  } 

}


/*desktop*/
@media (min-width: 768px){
  .navbar{
      font-size: 24px;
  }
  #logo{
    max-width: 54px;
  }
  #start{
    font-size: 24px;
  }
  #search_bar{
    font-size: 24px;
  }
  input{
    font-size: 21px;
  }
  #get_restaurants{
    font-size: 19px;
  }
  #link{
    font-size: 19px;
  }
}

